*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.card {
  margin: 1rem;
  height: auto;
  padding: .5rem 0;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 12px 32px 4px rgba(black, .2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transition: .2s;
  
  &:hover {
    transform: translateY(-5px);
  }

  
  
  
  
}





